<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Shannon Martin">
        <meta name="viewport" content="width=device-width, intitial-scale=1">
        <title>Learning Log</title>
    </head>

    <body>
        {% extends 'learning_logs/base.html' %}
        {% load django_bootstrap5 %}

        {% block page_header %}
            <h1>Welcome</h1>
        {% endblock page_header %}
                
        {% block content %}
            <form action="{% url 'accounts:register' %}" method="post" class="mt-3">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button button_type="submit" content="Register" id="reg-btn" %}
            </form>
        {% endblock content %}
    </body>
</html>